<div class="text-column" style="width: <%= width %>px;">
  <% if render_by_line %>
    <span class="by-line">By <strong><%= story.author %></strong></span>
  <% end -%>
  <%= content %>
  <% if render_by_continuation %>
    <p class="text-center"><em><a href="<%= continuation_path %>"><%= continuation_text %></a></em></p>
  <% end -%>

</div>
