<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
  <%= composer_stylesheet if composing? -%>
  <%= stylesheet_link_tag "stylesheets/application" %>
</head>
<body ng-app="app">
  <%= yield %>
  <%#= render 'grid_overlay' %>
  <%= composer_javascript if composing? -%>
  <%= javascript_include_tag "javascripts/application" %>
</body>
</html>
