<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
  <%= composer_stylesheet if composing? -%>
  <%= stylesheet_link_tag "stylesheets/application" %>
</head>
<body ng-app="app">
  <%= content_for :toolbar if composing? %>
  <%= yield %>

  <!-- Mini Mast -->
  <div slidein-nav="true" class="ng-isolate-scope ng-scope slidein-nav" style="display: none; top: -48px;">
    <div class="mini-mast">
      <h1 class="sfrecord">
        <a href="<%= edition_url(edition) %>"><%= render 'logo' -%></a>
      </h1>
      <div class="buy-or-subscribe">
        <%= link_to "Buy or Subscribe", edition.store_link %>
      </div>
    </div>
  </div>
  <%#= render 'grid_overlay' %>
  <%= composer_javascript if composing? -%>
  <%= javascript_include_tag "javascripts/application" %>
</body>
</html>
